<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="./output.css" rel="stylesheet" />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap"
      rel="stylesheet" />
    <title>Login</title>
    <link
      id="favicon"
      rel="icon"
      type="image/x-icon"
      href="images/favicons/CEE_skii.ico"
      sizes="32x32" />
  </head>
  <body class="font-['Montserrat',sans-serif] font-normal md:pt-16 min-h-screen flex flex-col">
    <div id="header-bg"></div>

    <%- include('partials/dropdownlist')%>
    <%- include('partials/header')%>
    
    <main class="grow">
        <h1
            class="text-<%=accentColour%> mb-12 text-center text-3xl font-bold sm:text-4xl">
            Login
        </h1>



        <form action="/login" method="post" class="w-11/12 max-w-sm mx-auto flex flex-col space-y-4 border-<%=accentColour%> rounded-lg border-2 p-6 shadow-lg">
            <label for="username"> Username </label>
            <input
                type="text"
                id="username"
                name="username"
                required
                minlength="4"
                maxlength="8"
                size="10"
                autocomplete="username"
                autofocus
                />

            <label for="password"> Password </label>
            <input
                type="password"
                id="password"
                name="password"
                required
                minlength="4"
                maxlength="8"
                size="10"
                autocomplete="current-password"
                />
            <button
                type="submit"
                class="mt-4 rounded bg-<%=accentColour%> px-4 py-2 font-bold text-white hover:bg-<%=accentColour%>-darkened cursor-pointer"
                >
                Login
            </button>
        </form>



    </main>


    <%- include('partials/footer')%>
  </body>
</html>
