<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" />

<link
  href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;700&display=swap"
  rel="stylesheet" />

<style>
  body {
    font-family: 'Montserrat', sans-serif;
  }
</style>

<div id="navbar" class="hidden md:flex bg-<%=accentColour%> fixed top-0 left-0 right-0 z-40 justify-around p-4 text-[24px] font-bold text-white">
  <% if (ticketsAvailable) { %>
  <a href="<%= ticketsLink %>" class="underline">Buy Tickets Now</a>
  <% } %>
  <a href="/">Homepage</a>
  <a href="about">About Us</a>
  <a href="faq">FAQ</a>
  <a href="https://esn.hr">ESN Croatia</a>
</div>

<div class="hidden md:block pt-24"></div>

<div id="menu" class="fixed top-4 right-4 z-50 mt-4 mr-4 cursor-pointer md:hidden" onclick="toggleDropdown()">
  <i class="fas fa-bars text-<%=accentColour%> text-[32px] transition-colors duration-700"></i>
</div>

<div id="dropdown" class="bg-<%=accentColour%> fixed top-[-100vh] right-0 left-0 z-40 flex w-full flex-col items-center space-y-6 px-5 pt-10 pb-5 text-center text-[24px] font-bold text-white transition-all duration-700">
  <% if (ticketsAvailable) { %>
  <a href="<%= ticketsLink %>" class="underline">Buy Tickets Now</a>
  <% } %>
  <a href="/">Homepage</a>
  <a href="about">About Us</a>
  <a href="faq">FAQ</a>
  <a href="https://esn.hr">ESN Croatia</a>
</div>
<script>
  function toggleDropdown() {
    const dropdown = document.getElementById('dropdown');
    const menu = document.getElementById('menu');
    const icon = menu.querySelector('i');

    if (dropdown.classList.contains('top-[-100vh]')) {
      dropdown.classList.remove('top-[-100vh]');
      dropdown.classList.add('top-0');
      icon.classList.remove('text-[#2E3192]');
      icon.classList.add('text-white');
    } else {
      dropdown.classList.remove('top-0');
      dropdown.classList.add('top-[-100vh]');
      icon.classList.remove('text-white');
      icon.classList.add('text-[#2E3192]');
    }
  }
</script>
